* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(https://i.imgur.com/2gfwG.png);
    background-size: 100% 100%;
}
.wrapper{
    width: 80vw;
    margin: 0 auto;

}
p>a {
    color: red;
    transition: all .5s ease;
}

p>a:visited {
    color: red;
    transition: all .5s ease;
}

p>a:hover {
    color: violet;
    transition: all .5s ease;

}

[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

[id^=modal]:target {
    display: block;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.popup__overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0000006c;
    opacity: 100%;
    
}

.popup__wrapper {
    position: fixed;
    z-index: 9;
    width: 80%;
    height: 80%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 58px 32px 32px 32px;
    background: #fff;
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 26px;
}


.category {
    border: 5px solid #012766;
    border-radius: 20px;
    margin-top: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.glass{
    background-color: #ffffffb6;
	backdrop-filter: blur(20px);
	border: 2px solid #ffffff30;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 15px -5px #00000030;
	padding: 15px;
    color: black ;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 4%;
    row-gap: 30px;
}

.grid>div {
    overflow: hidden;
}

@media only screen and (max-width:1100px) {
    .grid {
        grid-template-columns: 30% 30% 30%;
    }
    #multiaction{
        order:-1;
    }
}
@media only screen and (max-width:960px) {
    .grid {
        grid-template-columns: 48% 48%;
        
    }
    .wrapper{
        width: 100%;
    }
}
@media only screen and (max-width:600px) {
    .grid {
        grid-template-columns: 100%;
    }
}

a {
    text-decoration: none;
}

.button:visited {
    color: black;
}

.button:hover {
    color: gray;
    transition: all .5s ease;
}

.button {
    transition: all .5s ease;
    color: black;
}

.button>i {
    float: left;
    margin-right: 10px;
}

.button>.btnHeader {
    font-weight: bold;
}

.button>span {
    height: 50%;
}

.justify {
    text-align: justify;
}

.botright {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.category-title {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 20px;
    margin: 0px;
}

.category-content {
    padding-inline: 20px;
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}

.combatActions {
    background-color: rgb(179, 10, 10);
    border-color: rgb(179, 10, 10);
}

.attackRoll {
    background-color: darkred;
    border-color: darkred;
}

.trainerActions {
    background-color: darkblue;
    border-color: darkblue;
}